

.colorset {
  color: #e3ecfe;
  color: #d3e8ec;
  color: #dee3f9;
  color: #d5f5cf;
  color: #ffe0a8;
  color: #c5f6ea;
}


body {
  background: #fff;
}
.navigation {
  background: #eef2f4;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.post-list {
  padding: 15px 0;
}
.post-item {
  position: relative;
  margin-bottom: 20px;
}
.type-2 {
  border: 4px solid #e3ecfe;
  /* background:#e3ecfe; */
  border-radius: 5px;
}
.post-item figure {
  border-radius: 3px;
  width: 100%;
  height: 150px;
  margin: 0 0 5px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.type-2 figure {
  height: 200px;
}

.post-item .desc {
  color: #262626;
  z-index: 2;
  bottom: 0;
  left: 0;
  padding: 5px 0;
  width: 100%;
  font-size: 14px;
}
.post-item .title {
  font-size: 14px;
  margin: 0;
}

.post-item .price {font-weight: 500;}
.post-item .date {color: #8d96b2;}
